<!-- Jinja2 -->

<html>

<head>
    {% if title %}
    <title>{{title}} - messenger-backend</title>
    {% else %}
    <title>messenger-backend</title>
    {% endif %}
</head>

<body>
    <div>
        messenger-backend:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>